/* universal  */

body {
  padding: 0px 0px 0px 0px;
  margin: 0%;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  overflow-x: hidden; /*  hides the scroll bar that appears on the horizontal axis */
  /*  width: 80%; */
}

/* navigation bar */

#nav {
  display: flex;
  direction: row;
  align-content: end;
  align-items: center;
  justify-content: flex-end;
  width: 100%; /* still need to center entire nav bar, and shrink width to 80% of body */
  padding: 5px 5px 0px 0px;
  font-size: 18px;
  background-color: #1f2937;
}

#logo {
  width: 100%;
  font-size: 24px;
  color: #f9faf8;
  text-align: left;
  padding: 5px 5px 5px 100px;
}

#nav div {
  align-items: flex-end;
  color: #f9faf8;
  width: 10%;
  font-size: 16px;
  padding: 0px 10px 0px 0px;
  justify-items: center;
  /* nav item links need to be color in white when unvisited, maybe change color when visited, and enlarge when hovered over */
}

a {
  text-decoration: none;
}

a:link {
  color: #e5e7eb;
}

a:visited {
  color: #e5e7eb;
  text-decoration: none;
}

a:hover {
  color: #3882f6;
}

#home {
  /*  parent */
  display: flex;
  direction: column;
  background-color: #1f2937;
  color: #f9faf8;
  text-align: left;
  padding-left: 100px;
}

h3 {
  padding: 0px;
  margin: 0px;
  font-size: 48px;
  color: #f9faf8;
  font-weight: bold;
  /* background-color: #1f2937; */
}

.home-introduction p {
  font-size: 18px;
  color: #e5e7eb;
  opacity: 0.75;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  border-color: #e5e7eb;
  border-width: 1px;
  text-align: center;
  font-weight: bold;
}
.home-introduction {
  width: 50%;
  /* justify-content: center; */
}

.home-image {
  width: 50%;
  /* background-color: transparent; */
  background-color: #3882f6;
  align-content: right;
}

.home-image img {
  max-width: 500px;
  max-height: 350px;
  border-radius: 10px;
  padding-right: 100px;
}

.about-images div {
  background-color: rgb(255, 255, 0);
  display: flex;
  direction: row;
}

.images {
  width: 100px;
  height: 100px;
  padding: 5px 10px;
  background-color: white;
}

div .about {
  color: aqua;
}

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  justify-content: center;
  text-align: center;
  padding: 10px 0px;
}
