* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 0px 0px 0px;
  margin: none;

  /*  width: 80%; */
}

#nav {
  font-size: 18px;
  display: flex;
  direction: row;
  align-content: end;
  justify-content: flex-end;
  width: 100%; /* still need to center entire nav bar, and shrink width to 80% of body */
  background-color: #1f2937;
}

#logo {
  width: 100%;
  font-size: 24px;
  color: #f9faf8;
}

#nav div {
  align-items: flex-end;
  color: #f9faf8;
  width: 12%;
  font-size: 16px;
  padding: 0px 10px 0px 0px;
  justify-items: center;
  /* nav item links need to be color in white when unvisited, maybe change color when visited, and enlarge when hovered over */
}

.home {
  background-color: #1f2937;
  display: flex;
}

.home-introduction {
  font-size: 18px;
}

.home-image {
  padding: none;
  width: 40px;
  height: 30px;
}

#FAQs {
  background-color: yellow;
  display: flex;
  direction: row;
}

section .FAQs {
  background-color: white;
}

section .quote {
  background-color: #e5e7eb;
}

section .call-to-action {
  background-color: white;
}

footer {
  background-color: #1f2937;
}
